@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* Fuente */
.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Bebas Neue', sans-serif;
    background-color: var(--color-fondo); /* Variables */
    color: var(--color-fuente);
}

/* Variables "normal" en negro basicamente  */
:root {
  --color-fuente: #ffffff;
  --color-fondo: #000;
}
/* Tema claro */
[data-theme="light"] {
  --color-fuente: #000;
  --color-fondo: #fff;
}
/* Literalmente el titulo */
.titulo {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}
/* Aqui es el contenedor donde se hace el World  */
#contenedor-wordle {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}
/* La Filas */
.fila-wordle {
  display: flex;
  gap: 10px;
}
/* Los cuadraditos*/
.celda {
  width: 50px;
  height: 50px;
  border: 2px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: 'Bebas Neue', sans-serif;
}
/* Bien puesto pues se pone en verde */
.correcto {
  background-color: green;
  color: white;
}
/* Este pero no en esa posicion */
.presente {
  background-color: yellow;
  color: black;
}
/* No esta esa letra */
.ausente {
  background-color: grey;
  color: white;
}
/* Boton de reiniciar para que tambien cambie con el tema  */
.reiniciar {
  color: var(--color-fondo);
  background-color: var(--color-fuente);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  font-family: 'Bebas Neue', sans-serif;
}
/* para que cambie si pongo el raton encima */
.reiniciar:hover {
  background-color: var(--color-fondo);
  color: var(--color-fuente);
}
